<p style="color: green"><%= notice %></p>

<h1>Presses</h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @presses.each do |press| %>
      <tr>
        <td><%= press.created_at %> </td>
        <td><%= link_to 'Show', press %></td>
        <td><%= link_to 'Edit', edit_press_path(press) %></td>
        <td><%= link_to 'Destroy', press, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New press", new_press_path %>
