<p style="color: green"><%= notice %></p>

<%= render @press %>

<h1> Pressed at: <%= @press.created_at %> </h1>


<div>
  <%= link_to "Edit this press", edit_press_path(@press) %> |
  <%= link_to "Back to presses", presses_path %>

  <%= button_to "Destroy this press", @press, method: :delete %>
</div>
